
@{
    ViewBag.Title = "Suppliers";
    ViewBag.SmallTitle = "oooooo";
    Layout = "~/Views/Shared/_Layout.cshtml";
}
<div class="box box-primary">
    <div class="input-group">
        <input type="text" name="q" class="form-control" placeholder="Search...">
        <span class="input-group-btn">
            <button type="submit" name="search" id="search-btn" class="btn btn-primary btn-flat">
                <i class="fa fa-search"></i>
            </button>
        </span>
    </div>
</div>
<div class="container-fluid" row style="margin-bottom:10px;">
    <div class="col-sm-8">
        Thera are <b>1.000</b> suppliers, Page 1/100
    </div>
    <div class="col-md-4 text-right">
        <div class="btn-group">
            <a href="~/Supplier/Input" class="btn btn-sm btn-primary">Add Suppliers</a>
            <button type="button" class="btn btn-sm btn-danger">Delete Suppliers</button>
        </div>
    </div>
</div>
<div class="box box-success">
    <div class="box-body">
        <table class="table table-bordered text-center">
            <thead>
                <tr>
                    <th style="width:30px">
                        <input type="checkbox" />
                    </th>
                    <th style="width:50px">#</th>
                    <th style="width:200px">Name</th>
                    <th style="width:200px">Adress</th>
                    <th style="width:80px">Contact Info</th>
                    <th style="width:50px">Edit</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i <= 10; i++)
                {
                <tr>
                    <td>
                        <input type="checkbox" />
                    </td>
                    <td>@i</td>
                    <td>
                        <span style="color:#005bff; font-weight:bold; display:block;">
                            Xuan Phu City
                        </span>
                        <span style="color:#ff0000;">
                            Town
                        </span>
                        <span style="color:#005bff;">
                            Hue
                        </span>
                    </td>
                    <td>
                        <span style="color:#005bff;">
                            77 Nguyen Hue
                        </span>
                        <span style="color:#808080;">
                            Tp.Hue
                        </span>
                    </td>
                    <td>
                        <span style="display:block"><i class="fa fa-phone"></i>(0234)5555.555</span>
                        <span style="display:block"><i class="fa fa-fax"></i>(0234)5555.555</span>
                        <span style="display:block"><i class="fa fa-link"></i>https://xuanphu.com</span>
                    </td>
                    <td><a href="~/Supplier/Input/@i" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a></td>

                </tr>
                }

            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
</div>