
@{
    ViewBag.Title = "Manage Suppliers";

}
<!-- Search box -->
<div class="box box-primary">
    <!-- form start -->
    <form role="form">
        <div class="box-body">
            <div class="input-group input-group-sm">
                <input type="text" class="form-control" placeholder="Type anything">
                <span class="input-group-btn">
                    <button type="button" class="btn btn-primary btn-flat"><i class="fa fa-search"></i></button>
                </span>
            </div>
        </div>        
        <!-- /.box-body -->
    </form>
</div>
<!-- /.box -->
<div class="row">
    <div class="col-sm-8">
        <span>There are <b>1,000</b> Suppliers. Page <b>1/100</b></span>        
    </div>
    <div class="col-sm-4">
        <div class="pull-right">
            <a href="~/Supplier/Input" class="btn btn-sm btn-success"><i class="fa fa-plus-circle"></i> Add</a>
            <button class="btn btn-sm btn-danger"><i class="fa fa-trash-o"></i> Delete</button>
        </div>        
    </div>
</div>
<br />
<!-- Table box -->
<div class="box box-success">
    <div class="box-body">
        <table class="table table-bordered table-hover">
            <thead>
                <tr>
                    <th><input type="checkbox" /></th>
                    <th>#</th>
                    <th>Name</th>
                    <th>Address</th>
                    <th>Contact Info</th>
                    <th>Action</th>
                </tr>
            </thead>
            <tbody>
                @for (int i = 1; i <= 4; i++)
                {
                    <tr>
                        <td>
                            <input type="checkbox" />
                        </td>
                        <td>@i</td>
                        <td>
                            <span class="text-bold text-blue">ABC Company</span>
                            <br />
                            <span class="text-bold text-black">Nguyễn Văn A</span>
                            <span>(Administrator)</span>
                        </td>
                        <td>
                            <span style="display:block">Phạm Văn Đồng</span>
                            <span> Huế -  Việt Nam</span>
                        </td>
                        <td>
                            <span style="display:block"><i class="fa fa-phone"></i> (+84) 123 123 123</span>
                            <span style="display:block"><i class="fa fa-fax"></i> (+84) 456 456 456</span>
                            <span style="display:block"><i class="fa fa-globe"></i> https://abc-company.com</span>
                        </td>
                        <td><a href="~/Supplier/Input/@i" class="btn btn-sm btn-primary"><i class="fa fa-pencil"></i></a></td>
                    </tr>
                }                
            </tbody>
        </table>
    </div>
    <div class="box-footer clearfix">
        <ul class="pagination pagination-sm no-margin pull-right">
            <li><a href="#">«</a></li>
            <li><a href="#">1</a></li>
            <li><a href="#">2</a></li>
            <li><a href="#">3</a></li>
            <li><a href="#">»</a></li>
        </ul>
    </div>
    <!-- /.box-body -->
</div>
<!-- /.box -->

