@{

}

<!-- Input box -->
<div class="box box-primary">
    <!-- form start -->
    <form role="form">
        <div class="box-header with-border">
            <div class="box-tools pull-right">
                <a href="~/Supplier" class="btn btn-primary"><i class="fa fa-long-arrow-left"></i> Back</a>
            </div>
        </div>
        <div class="box-body">
            <div class="form-group">
                <label>Company Name:</label>
                <input type="text" class="form-control" placeholder="Hue Town">                
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Contact Name:</label>
                        <input type="text" class="form-control" placeholder="Nguyen Van A">
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Contact Title:</label>
                        <input type="text" class="form-control" placeholder="Sale Manager">
                    </div>
                </div>
            </div>
            
            
            <div class="form-group">
                <label>Address:</label>
                <input type="text" class="form-control" placeholder="77 Nguyễn Huệ">
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Country:</label>
                        <select class="form-control">
                            <option>--Select Country--</option>
                            <option>option 2</option>
                            <option>option 3</option>
                            <option>option 4</option>
                            <option>option 5</option>
                        </select>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>City:</label>
                        <input type="text" class="form-control" placeholder="Hue">
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Phone:</label>
                        <div class="input-group">
                            <span class="input-group-addon"><i class="fa fa-phone"></i></span>
                            <input type="text" class="form-control" placeholder="(+84) 5555 55 55">
                        </div>
                    </div>
                </div>
                <div class="col-sm-6">
                    <div class="form-group">
                        <label>Fax:</label>
                        <div class="input-group">                            
                            <span class="input-group-addon"><i class="fa fa-fax"></i></span>
                            <input type="text" class="form-control" placeholder="(+84) 5555 55 55">
                        </div>
                    </div>
                </div>
            </div>
            <div class="form-group">
                <div class="form-group">
                    <label>Home Page:</label>
                    <div class="input-group">
                        <span class="input-group-addon"><i class="fa fa-link"></i></span>
                        <input type="text" class="form-control" placeholder="https://HueTown.com">
                    </div>
                </div>
            </div>
        </div>
        <!-- /.box-body -->
        <div class="box-footer">
            <button type="submit" id="ButtonSubmit" class="btn btn-primary btn-sm"><i class="fa fa-check"></i> @ViewBag.ConfirmButton</button>
            <a href="~/Supplier" class="btn btn-default btn-sm"><i class="fa fa-times"></i> Cancel</a>            
        </div>
    </form>
</div>
<!-- /.box -->