@{
    string fullName = string.Empty;
    string photoPath = string.Empty;
    HttpCookie requestCookies = Request.Cookies["userInfo"];
    if (requestCookies != null)
    {
        fullName = Server.UrlDecode(requestCookies["FullName"].ToString());
        photoPath = requestCookies["PhotoPath"].ToString();
    }
}
<header class="main-header">
    <!-- Logo -->
    <a href="~/" class="logo">
        <!-- mini logo for sidebar mini 50x50 pixels -->
        <span class="logo-mini"><b>L</b>C</span>
        <!-- logo for regular state and mobile devices -->
        <span class="logo-lg"><b>Lite</b>Commerce</span>
    </a>
    <!-- Header Navbar: style can be found in header.less -->
    <nav class="navbar navbar-static-top">
        <!-- Sidebar toggle button-->
        <a href="#" class="sidebar-toggle" data-toggle="push-menu" role="button">
            <span class="sr-only">Toggle navigation</span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
            <span class="icon-bar"></span>
        </a>
        <div class="navbar-custom-menu">
            <ul class="nav navbar-nav">
                <li class="dropdown user user-menu">
                    <a href="#" class="dropdown-toggle" data-toggle="dropdown">
                        <img src="@photoPath" class="user-image" alt="User Image">
                        <span class="hidden-xs">@fullName</span>
                    </a>
                    <ul class="dropdown-menu">
                        <!-- User image -->
                        <li class="user-header">
                            <img src="~/Images/avt.jpg" class="img-circle" alt="User Image">
                            <p>
                                @fullName
                            </p>                        
                        </li>

                        <!-- Menu Footer-->
                        <li class="user-footer">
                            <div class="pull-left">
                                <a href="~/Account" class="btn btn-default btn-flat">Profile</a>
                            </div>
                            <div class="pull-left">
                                <a href="~/Account/ChangePwd" class="btn btn-default btn-flat">Password</a>
                            </div>
                            <div class="pull-right">
                                
                                <a href="~/Account/SignOut" class="btn btn-default btn-flat">Sign out</a>
                            </div>
                        </li>
                    </ul>
                </li>
                <!-- Control Sidebar Toggle Button -->
                @*<li>
                    <a href="#" data-toggle="control-sidebar"><i class="fa fa-gears"></i></a>
                </li>*@
            </ul>
        </div>
    </nav>
</header>